body {
	background-color: black;
}

h1, h2, a {
	font-family: ;
}

h1 {
	color: whitesmoke;
}

h2 {
	color: floralwhite;
}

p {
	color: whitesmoke;
	font-family: ;
}

a {
	color: blueviolet;
}

li {
	color: antiquewhite;
}

/* Declaración de uso de IA:
  Se utilizó IA como apoyo para redactar la estructura y el contenido de esta página */

footer {
	background-color: darkgrey;
}
